[Unit]
Description=Menu for monitoring and interacting with the PeachCloud device.

[Service]
Type=simple
User=peach-menu
Environment="RUST_LOG=error"
ExecStart=/usr/bin/peach-menu
Restart=always
Wants=peach-network.service peach-stats.service
Requires=peach-buttons.service peach-oled.service
After=peach-buttons.service peach-oled.service peach-network.service peach-stats.service

[Install]
WantedBy=multi-user.target
